crawl_social
.vscode
CHS-2021
indexing/indexes
data/indexes
data/Webdoc/crawl
extracted_meta.csv
data/Webdoc/txt.tsv
huggingface_checkpoint_pointwise_crossencoder
colbert_model_checkpoint
data/Webdoc/txt_over_50.tsv
indexing/results/monoT5/*/
indexing/results/old_ranking_results_monoT5/
*/.ipynb_checkpoints
dataset/Webdoc/crawl/*
dataset/Webdoc/data/txt_min_length_50.tsv